<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>3-HBNB Template</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <!-- Import the new JavaScript file -->
    <script type="text/javascript" src="../static/scripts/3-hbnb.js"></script>
</head>

<body>
    <h1>HBNB is alive!</h1>

    <!-- Add any additional content or styling as needed -->

    <!-- Section for dynamically loaded places -->
    <section class="places"></section>
</body>

</html>

